[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  background-color: #A28089;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCCCCC;

}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  font-size: 20px;
}
.siteName {
  font-size: 30px;
  background-color: lightpink;
  padding: 15px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0px;
  border-bottom: solid black 1px;
}
.background {
  background-color: #85144b;
}
table{
    margin-left: auto;
  margin-right: auto;
}
td {
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
}
tr {
  background-color: #FFFFF0	;
}
body{
}
p{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
input[type=checkbox] {
  display: none
}

 img {
  transition: transform 0.25s ease;
  cursor: zoom-in
}

input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}
img{
  max-height: 500px;
  max-width: 400px;
}